---
---

@import "{{ site.theme }}";
.wrapper {
  width:1600px;
}
header {
  width:300px;
}
section {
  width:1200px;
  left: 40px;
}
img {
  position: absolute;
  top: 5px;
  left: 5px;
}
footer {
  bottom: 5px;
  opacity: 50%;
  width:250px;
}
