---
---

@import "{{ site.theme }}";
.wrapper {
  width:1280px;
}
header {
  width:200px;
}
section {
  width:1080px;
  margin-left: 25px;
}
img {
  position: absolute;
  top: 5px;
  left: 5px;
}
footer {
  bottom: 5px;
  opacity: 50%;
  width:200px;
}
